.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 1rem; 
    margin: 0 .3rem;
    color: #fff;
}

.cabecalho__logo {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.cabecalho__link {
    display: none;
}

.cabecalho__link-email {
    display: inline-block;
    font-size: .8rem;
}

@media screen and (min-width: 768px){
    .cabecalho {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px) {

    .cabecalho {
        align-items: flex-start;
        justify-content: space-between;
    }

    .cabecalho__navegacao {
        display: flex;  
        padding-right: 2%;
    }

    .cabecalho__logo {
        font-size: 1.2rem;
        padding-left: 3%;
    }

    .cabecalho__link {
        font-size: 1.1rem;
        display: inline-block;
        padding-right: 15px;
      
    }

    .cabecalho__link:hover, .cabecalho__link-email:hover {
        transition-duration: 0.3s;
        transform: scale(0.9);
    }

    .cabecalho__link-email {
        display: inline-block;
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 768px) {
    .cabecalho__logo {
        font-size: 1.9rem;
    }
    .cabecalho__link , .cabecalho__link-email {
        font-size: 1.3rem;
    }
    
}