.caixa {
    display: flex-end;
    flex-direction: column;    
    justify-self: center;
    padding: 10px;
} 

.destaque {
    display: grid;
    padding-top: 10%;
    grid-template-rows: 100%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.calculadora {
    grid-area: 1 / 2 ;
    background-color: #0f0f0f;
    text-align: center;
    padding: 20px;
    height: 400px;
    width: 40%;
}

.calculadora__titulo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
}

.resultado {
    width: 100%;
    height: 40px;
    margin: 5px;
    font-size: 25px;
    background: rgb(180, 180, 180);
    color: #000;
    text-align: right;
    justify-content: center;
}
    
.botao {
    background-color: #c4c4c4;
    width: 50px;
    height: 50px;
    border: none;
    margin: 2px 2px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.botao:hover {
    background-color: #0f0f0f;
    color: #fff;
    transition-duration: 0.4s;
}

.botao-igual {
    height: 106px;
}

.btn-0 { 
    width: 106px;
}